<div class="container">
  <img class="signature top" src="/assets/pics/sig2.png" alt="Artist Signature">
  <div class="paintings">
    <% @paintings.each do |painting| %>
      <div class="painting">
        <p class="title"><%= painting.title %></p>
        <img class="painting-image" src="/assets/pics/<%= painting.image.split('/').last %>" alt="<%= painting.title %>">
      </div>
    <% end %>
  </div>
  <div class="contact">
    <h4>Interested? Reach out on Instagram!</h4>
    <a href="https://www.instagram.com/andrewpatrickwatson/" target="_blank">Instagram</a>
    <img class="signature bottom" src="/assets/pics/sig1.png" alt="Decorative Signature">
  </div>
</div>