/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.signature:first-of-type {
  height: auto; /* Maintains the aspect ratio */
  max-width: 600px; /* Optional: adjust max width as needed */
}

.paintings {
  display: flex;
  flex-direction: column; /* Ensures items stack vertically */
  align-items: center; /* Centers the column of items horizontally */
  gap: 20px; /* Adds space between paintings */
}

.painting {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px; /* Adjust width as needed */
}

.painting img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.contact {
  margin-top: 20px;
}

.contact img {
  width: 50px; /* Adjust size as needed */
  height: auto;
  cursor: pointer;
}